<h2>Contato</h2>
<div @fade class="container">
    <div class="container-left">
        <div class="lista">
            <ul class="list-view">
                <h1> <span class="arrouba">@</span> Endereço</h1>
                <li>
                    <span class="lead">Rua Estevam Barbosa Alves</span>
                    <span class="follow"> , nº 12, Qd.F</span>
                    <span class="follow">, Itapuã, </span>
                </li>
                <span class="follow">
                    <li class="group-name">Salvador /BA - Brasil</li>
                </span>
            </ul>
        </div>
    </div>
    <div class="container-right">
        <div class="lista-2">
            <h1> <span class="arrouba">@</span> E-mail</h1>
            <span class="email">
                ccarige@gmail.com
                <i class="fa-solid fa-square-envelope"></i>
            </span>
        </div>
    </div>
    <div class="container-right">
        <div class="lista-2">
            <h1> <span class="arrouba">@</span> Celular</h1>
            <span class="whatsapp">
                <a href="https://web.whatsapp.com/send?phone=71991881008" target="_blank">
                    +55 71 9 91125697
                    <i class="fa-brands fa-whatsapp"></i></a>
            </span>
            <p style="color: blue">( Click e converse comigo pelo whatsapp)</p>
        </div>
    </div>
</div>