<div class="container">
  <h2 class="title-create">Solicitar Delivery</h2>
  <div class="width-img central">
      <img src="../../../../../assets/img/logoGWSistemas.png" alt="Imagem da logo da empresa GW Sistemas">
  </div>
  <mat-form-field class="width-full" appearance="outline">
    <mat-label>Remetente</mat-label>
    <input [(ngModel)]="senderCpfOrCnpj" matInput placeholder="Digite o CPF ou CNPJ">
  </mat-form-field>

  <mat-form-field class="width-full" appearance="outline">
    <mat-label>Destinatário</mat-label>
    <input [(ngModel)]="recipientCpfOrCnpj" matInput placeholder="Digite o CPF ou CNPJ">
  </mat-form-field>

  <mat-form-field class="width-full" appearance="outline">
    <mat-label>Nome do produto</mat-label>
    <input [(ngModel)]="productName" matInput  placeholder="Digite o nome do produto">
  </mat-form-field>

  <mat-form-field class="width-full" style="margin: auto;" appearance="outline">
    <mat-label>Quantidade</mat-label>
    <input [(ngModel)]="quantityProduct"  matInput placeholder="Digite a quantidade">
  </mat-form-field>
  <div class="button-event">
      <button routerLink="/" mat-stroked-button color="warn">Cancelar</button>
      <button (click)="createDelivery()" [disabled]="!validation()" [ngClass]="{'disabled': !validation()}"
       mat-flat-button color="primary">Solicitar Entrega</button>
  </div>
  <footer class="tec-footer">
    <p>&copy;by Cláudio Carigé</p>
  </footer>

</div>
