<div class="page-container">
  <mat-card class="create-chamado-card">
    <mat-card-title>Criar Chamado</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
          <mat-form-field appearance="fill" class="full">
            <mat-label>Empresa</mat-label>
            <mat-select formControlName="empresaId">
              <mat-option *ngFor="let e of empresas" [value]="e.id">{{
                e.nomeEmpresa
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill" class="full">
          <mat-label>Responsável</mat-label>
          <input matInput formControlName="responsavel" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full">
          <mat-label>Contato</mat-label>
          <input matInput formControlName="contato" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full">
          <mat-label>Endereço</mat-label>
          <input matInput formControlName="endereco" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full">
          <mat-label>Descrição</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <div class="actions">
          <button mat-flat-button color="primary" type="submit">
            Criar Chamado
          </button>
          <button
            mat-flat-button
            type="button"
            (click)="router.navigate(['/home'])"
          >
            Cancelar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
