<div class="container">
    <h2 class="title-create">Atualizar Serviço</h2>
    <div class="width-img central">
        <img src="../../../../assets/img/logoPetStar.svg" alt="Imagem da logo marca remete a uma pata de Pet">
    </div>
    <form class="example-form">
        <mat-form-field class="width-full" appearance="outline">
            <mat-label>Título do Serviço</mat-label>
            <input [formControl]="title" required matInput
                placeholder="Ex. Implementação web">
        </mat-form-field>
        <div class="status-prioridade">
            <mat-form-field class="selecao" appearance="outline">
                <mat-label>{{retornaStatus(servicePet.status)}}</mat-label>
                <mat-select [formControl]="status" required>
                    <mat-option value="0">ABERTO</mat-option>
                    <mat-option value="1">EM ANDAMENTO</mat-option>
                    <mat-option value="2">ENCERRADO</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="selecao ajusteLeft" appearance="outline">
                <mat-label>{{retornaPriority(servicePet.priority)}}</mat-label>
                <mat-select [formControl]="priority" required>
                    <mat-option value="0">BAIXA</mat-option>
                    <mat-option value="1">MEDIA</mat-option>
                    <mat-option value="2">ALTA</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="pessoa">
            <mat-form-field class="selecao" appearance="outline">
                <mat-label>{{ servicePet.nameClient }}</mat-label>
                <mat-select [formControl]="clientValida" required>
                    @for (cli of clientList; track cli.id) {
                        <mat-option [value]="cli.id">{{ cli.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field class="selecao ajusteLeft" appearance="outline">
                <mat-label>{{ servicePet.nameEmploye }}</mat-label>
                <mat-select [formControl]="employeeValida" required>
                    @for (employee of employeeList; track employee.id) {
                        <mat-option [value]="employee.id">{{ employee.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

        </div>
        <div class="form">
            <mat-form-field class="width-full" appearance="outline">
                <mat-label>Deixe uma descrição</mat-label>
                <textarea [formControl]="descri" required
                    class="descrição" matInput placeholder="Ex. Criação de uma implementação..."></textarea>
            </mat-form-field>
        </div>
    </form>

    <div class="button-event">
        <button type="button" routerLink="../../" mat-stroked-button color="warn">Cancelar</button>
        <button type="button" (click)="update()" [disabled]="!validaForm()" mat-flat-button color="primary">Atualizar</button>
    </div>
    <footer class="serv-footer">
        <p>&copy;by Cláudio Carigé</p>
    </footer>
</div>
