<h2 class="title-cursos">Habilidades de Cláudio Carigé</h2>
<a class="habilidade-btn" routerLink="../"> voltar </a>
<div class="container">
    <div class="container-fluid">
        <a (click)="openHabilidadeDialog('1','2')"> <img src="../../../../assets/img/resiliente.png" alt=""></a>
        <a (click)="openHabilidadeDialog('2','2')"> <img src="../../../../assets/img/flexivel.png" alt=""></a>
        <a (click)="openHabilidadeDialog('3','2')"> <img src="../../../../assets/img/iniciativa.png" alt=""></a>
        <a (click)="openHabilidadeDialog('4','2')"> <img src="../../../../assets/img/liderança.png" alt=""></a>
        <a (click)="openHabilidadeDialog('5','2')"> <img src="../../../../assets/img/empatia.png" alt=""></a>
        <a (click)="openHabilidadeDialog('6','2')"> <img src="../../../../assets/img/criatividade.png" alt=""></a>
        <a (click)="openHabilidadeDialog('7','2')"> <img src="../../../../assets/img/colaborativo.png" alt=""></a>
        <a (click)="openHabilidadeDialog('8','2')"> <img src="../../../../assets/img/autonomia.png" alt=""></a>
        <a (click)="openHabilidadeDialog('9','2')"> <img src="../../../../assets/img/comunicativo.png" alt=""></a>
    </div>
</div>