<h2 class="title-cursos">Habilidades de Cláudio Carigé</h2>
<a class="habilidade-btn" routerLink="../"> voltar </a>
<div class="container">
    <div class="container-fluid">
        <a (click)="openHabilidadeDialog('1','2')"> <img src="../../../../assets/img/resiliente.png" alt="Imagem simbolo da Resiliência, três retas sendo pressionadas"></a>
        <a (click)="openHabilidadeDialog('2','2')"> <img src="../../../../assets/img/flexivel.png" alt="Imagem simbolo da Flexibilidade, três setas em direções opostas"></a>
        <a (click)="openHabilidadeDialog('3','2')"> <img src="../../../../assets/img/iniciativa.png" alt="Imagem simbolo da Iniciativa, dois bonecos com um levantando a mão"></a>
        <a (click)="openHabilidadeDialog('4','2')"> <img src="../../../../assets/img/liderança.png" alt="Imagem simbolo da Liderança, um boneco puxando outro subindo uma escada"></a>
        <a (click)="openHabilidadeDialog('5','2')"> <img src="../../../../assets/img/empatia.png" alt="Imagem simbolo da Empatia, duas mãos se apertando perto de uma cabeça"></a>
        <a (click)="openHabilidadeDialog('6','2')"> <img src="../../../../assets/img/criatividade.png" alt="Imagem simbolo da Criatividade, uma engrenagem ligada a uma lampada"></a>
        <a (click)="openHabilidadeDialog('7','2')"> <img src="../../../../assets/img/colaborativo.png" alt="Imagem simbolo da Colaboratividade, dois bonecos colocando blocos um em cima do outro"></a>
        <a (click)="openHabilidadeDialog('8','2')"> <img src="../../../../assets/img/autonomia.png" alt="Imagem simbolo da Autonomia, uma mão fechada com 5 pinos em cima"></a>
        <a (click)="openHabilidadeDialog('9','2')"> <img src="../../../../assets/img/comunicativo.png" alt="Imagem simbolo da Comunicação, dois bonecos com um balão de diálogo"></a>
    </div>
</div>