<div class="container">
    <form class="form">
        <h2 class="title-create">Deletar Cliente</h2>
        <div class="width-img central">
            <img src="../../../../assets/img/logoPetStar.svg" alt="Imagem da logo marca remete a uma pata de Pet">
        </div>
        <mat-form-field class="width-full" appearance="fill">
            <mat-label>Nome</mat-label>
            <input [(ngModel)]="client.name" name="name" [disabled]="true" matInput>
            <mat-icon class="icon" matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <mat-form-field class="width-full" appearance="fill">
            <mat-label>CPF</mat-label>
            <input [(ngModel)]="client.cpf" name="cpf" [disabled]="true" matInput>
            <mat-icon class="icon" matSuffix>pin</mat-icon>
        </mat-form-field>
        <mat-form-field class="width-full" appearance="fill">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="client.email" name="email" [disabled]="true" matInput
                placeholder="Ex.. fulano@mail.com">
            <mat-icon class="icon" matSuffix>mail</mat-icon>
        </mat-form-field>
        <div class="check">
            <p>Por favor digite <span class="check-span">{{client.name}}</span> para liberar!</p>
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input [(ngModel)]="check" name="check" matInput placeholder="Digite aqui">
            </mat-form-field>
        </div>
        <div class="button-event">
            <button routerLink="../../" mat-stroked-button color="warn">Cancelar</button>
            <button (click)="delete()" [disabled]="!validation()" mat-flat-button color="primary">Deletar</button>
        </div>
        <footer class="tec-footer">
            <p>&copy;by Cláudio Carigé</p>
        </footer>
    </form>
</div>