<mat-card class="card">
    <h2>Serviços para Pet</h2>
    <img mat-card-image src="../../../assets/img/logoPetStar.svg" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-subtitulo">
        <p>
            Olá! Seja bem vinda(o) ao sistema de serviços da <span><b class="star">Pet</b> Star</span>, <b>"o meu
                Portfóliio".</b> Este sistema
            foi criado com intuito de
            facilitar a vida das pessoas com solicitações de serviços, de alta qualidade, para o seu filhote Pet, e além
            disso, buscar exercitar as habilidades adquiridas para o melhoramento profissional.
        </p>
        <p>Fique a vontade para testar o sistema e deixar sua sugestão e o seu feedback. <span class="whatsapp">
            <a href="https://web.whatsapp.com/send?phone=71991881008" target="_blank">
                       <i class="fa-brands fa-whatsapp"></i></a>
        </span></p>
        
    </mat-card-content>
</mat-card>