<div class="container-body">
    <h2 class="title-sobremim">Um pouco sobre Cláudio Carigé</h2>
    <a routerLink="../"> voltar </a>
    <div class="container">
        <div class="container-1">
            <div class="div-1">
                <div class="div-1-1">
                    <h3>Sou eu!</h3>
                </div>
                <p>
                    Sou um lutador incansável e com muita humildade, resiliência, disciplina, comprometimento e foco,
                    venho motivado para seguir
                    meus passos no mundo da tecnologia, que hoje, sou um apaixonado. De uma paixão retraida, que a muito
                    tempo ficou adormecida, hoje tenho
                    em minha vida a certeza de que sou um tech de alma.
                </p>
            </div>
            <div class="container-sol">
                <div class="sol">
                    <div class="ondas-sol"></div>
                </div>
            </div>
            <div class="div-2">
                <div class="div-2-1">
                    <h3>Respeito ao aprendizado!</h3>
                    <p>
                        Estou cursando Sistemas de Informação no 3º semestre da Unifacs, tenho
                        conhecimento de linguagem Java avançado. Tenho um portifólio implementado com as linguagens
                        Java(JSP/JDBC/TomCat), Html, Css, MySQL, JavaScript e as ferramentas BootStrap, Git e
                        versionamento
                        para o GitHub.
                    </p>
                </div>
            </div>

        </div>
        <div class="div-3">
            <div class="div-3-1">
                <h3>Quero mais, muito mais. O sol sempre brilhará no dia seguinte!</h3>
            </div>
            <p>
                Além disso, tenho conhecimento na linguagem Python e atualmente estou finalizando os estudos com
                Angular, juntamente, com construção de API com SpringBoot e também com JPA. Gosto muito da área de
                back-end,
                mas tenho conhecimentos em front-end também. Valorizo o diálogo, a abertura e o respeito mútuo. Quero
                fazer
                parte de um grande universo, quero resolver problemas, gerar soluções e contribuir para aumentar o
                sucesso da sua organização.
            </p>
        </div>
    </div>


</div>