<h2 class="title-formacao">Formação e Cursos de Cláudio Carigé</h2>
<a class="button-voltar" routerLink="../"> voltar </a>
<div class="container">
    <div class="container-fluid">
        <div class="title">
            <h3>Formação</h3>
            <a (click)="openFormacao()"> <img src="../../../../assets/img/formacao02.png" alt=""></a>
        </div>
        <div class="title">
            <h3>Cursos</h3>
            <a (click)="openCursos()"> <img src="../../../../assets/img/cursos.png" alt=""></a>
        </div>
    </div>
</div>
<div class="container-hidden">
    <div [ngStyle]="{'display': displayFormacao}" class="container-formacao">
        <h4>Formação</h4>
        <p class="universidade">Unifacs</p>
        <p class="universidade-paragrafo">Universidade Salvador - <span>Cursando 3º Sem.</span></p>
        <p class="universidade-paragrafo">Curso - <span>Sistemas de Informação</span></p>
        <p><b>Inicio -</b> jan/2022 - <b>Conclusão</b> - dez/2025</p>
    </div>
    <h4 class="subtitle" [ngStyle]="{'display': displayTitle}">Cursos</h4>
    <div [ngStyle]="{'display': displayCursos}" class="container-cursos" *ngFor="let list of listaCursos">
        <div class="curso-fluid">
            <h4>{{ list.title }}</h4>
            <p><b>Status</b> - {{ list.status }}</p>
            <p><b>Período</b> - {{ list.data }}</p>
            <div *ngFor="let element of list.linguagens">
                <div>
                    <p class="element">- {{ element }}</p>
                </div>
            </div>
        </div>
    </div>
</div>