.container {
    width: 90%;
    min-width: 200px;
    margin: auto;
    padding-bottom: 2em;
}

.container-fluid {
    width: 50%;
    text-align: center;
    margin: auto;
    position: relative;
    display: flex;
}

.title-formacao {
    text-align: center;
    color: rgb(0, 142, 207);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.45);
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 2em;
}

a {
    cursor: pointer;
}

img {
    padding: 2em 2em;
    width: 40%;
}

img:hover {
    width: 45%;
    padding: 1em 1.64em;
}

li {
    line-height: 10px;
    font-size: 1em;
    font-weight: 500;
    color: rgb(0, 142, 207);
}

p {
    line-height: 15px;
    font-size: 1.2em;
}

h3 {
    width: 100%;
    color: rgb(0, 111, 255, .8);
    font-size: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.53);
}

h4 {
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
}

span {
    color: blue;
}

.button-voltar {
    margin-top: 1em;
    text-decoration: none;
    text-align: center;
    padding: .5em 1em;
    color: white;
    font-size: 1.1em;
    position: absolute;
    right: 7em;
    top: 12em;
    border-radius: .5em;
    font-weight: 500;
    background: rgb(154, 153, 153);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
}

.button-voltar:hover {
    background: white;
    color: blue;
}

.title {
    width: 100%;
    min-width: 100px;
    display: block;
}

.subtitle {
    display: none;
}

.container-hidden {
    width: 90%;
    margin: auto;
}

.container-formacao {
    display: none;
    margin: auto;
    padding-bottom: 3rem;
}

.universidade {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 1em;
}

.universidade-paragrafo {
    font-size: 1.6em;
    padding-bottom: 1em;
}

.container-cursos {
    display: none;
    width: 25%;
    min-width: 250px;
    margin: 0 auto 2em auto;
}

.curso-fluid {
    background: rgba(0, 128, 0, .1);
    height: 400px;
    padding: 1.5em;
    width: 200px;
    color: rgb(104, 104, 104);
    margin: 1em auto;
    border-radius: .6em;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.6);
}

.element {
    padding-left: 1rem;
    color: blue;
}

@media (max-width: 1000px) {
    .container-cursos {
        width: 33%;
    }

    p {
        line-height: 25px;
    }
}

@media (max-width: 820px) {
    .container-cursos {
        width: 50%;
    }

    p {
        line-height: 25px;
    }

    h3 {
        margin-top: 1.6rem;
    }
}

@media (max-width:582px) {
    .container-cursos {
        width: 100%;
    }

    .title-formacao {
        font-size: 1.3rem;
    }

    .button-voltar {
        top: 12rem;
        left: 35%;
        right: 35%;
        margin: auto;
    }

    h3 {
        font-size: 1.6em;
    }
}

@media (max-width: 400px) {
    .title-formacao {
        font-size: 1.2rem;
        padding-bottom: 2rem;
    }

    .title{
        padding-top: 2rem;
    }
    .container-fluid {
        display: block;
        width: 130px;
    }
    .curso-fluid {
        display: block;
        width: 130px;
    }

    .button-voltar {
        top: 16rem;
        min-width: 3rem;
    }

    .universidade-paragrafo{
        line-height: 25px;
    }

    .universidade{
        font-size: 2rem;
        padding-top: 2rem;
    }
    h3 {
        font-size: 1.4em;
    }
    .container-cursos p{
        line-height: 12px
    }

}