<div class="container">
     <h2 class="title-portfolio">Portfólio de Cláudio Carigé</h2>
     <section class="row-1" id="opcao1">
          <div class="ripple-container col-1 mat-elevation-z8 " mat-raised-button matRipple
               [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
               [matRippleRadius]="radius" [matRippleColor]="color" matTooltip="SAIBA UM POUCO SOBRE MIM!"
               routerLink="sobremim">
               <img src="../../../../assets/img/sobremim.png" alt="">
               <h2>Sobre Mim</h2>
          </div>
          <div class="ripple-container col-2 mat-elevation-z8" id="opcao2" matRipple [matRippleCentered]="centered"
               [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
               [matRippleColor]="color" matTooltip="CONHECIMENTOS ADQUIRIDOS!" routerLink="habilidades">
               <img src="../../../../assets/img/conhecimento.png" alt="">
               <h2>Habilidades</h2>
          </div>
     </section>
     <section class="row-2">
          <div class="ripple-container col-3 mat-elevation-z8" matRipple [matRippleCentered]="centered"
               [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
               [matRippleColor]="color" matTooltip="DÊ UMA ESPIADINHA!" routerLink="formacao">
               <h2>Formação</h2>
               <img src="../../../../assets/img/formacao.png" alt="">
          </div>
          <div class="ripple-container col-4 mat-elevation-z8" matRipple [matRippleCentered]="centered"
               [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
               [matRippleColor]="color" matTooltip="MINHAS JORNADAS!" routerLink="experiencias">
               <h2>Experiências</h2>
               <img src="../../../../assets/img/experiencia2.png" alt="">
          </div>
     </section>
</div>