<h2 class="title-cursos">Experiências recentes de Cláudio Carigé</h2>
<a routerLink="../"> voltar </a>
<div class="container-body">
    <div class="container">
        <h3>BANCO BRADESCO SA</h3>
        <button matTooltip="CLICK PARA VISUALIZAR" (click)="openDialog('1','1')">
            <img src="../../../../assets/img/logojava.png" alt="Imagem da logo marca da Linguagem de programação Java">
                        <img src="../../../../assets/img/logospring.png" alt="Imagem da logo marca do framework Spring">
            <img src="../../../../assets/img/angular.png" alt="Imagem da logo marca do framework Angular">
        </button>
    </div>
    <div class="container">
        <div class="title">
            <h3>BANCO SANTANDER</h3>
        </div>
        <button matTooltip="CLICK PARA VISUALIZAR" (click)="openDialog('2', '1')">
            <img src="../../../../assets/img/logojava.png" alt="Imagem da logo marca da Linguagem de programação Java">
            <img src="../../../../assets/img/logospring.png" alt="Imagem da logo marca do framework Spring">

            
        </button>
    </div>
    <div class="container">
        <div class="title">
            <h3>COPY IMAGEM</h3>
        </div>
        <button matTooltip="CLICK PARA VISUALIZAR" (click)="openDialog('3','1')">
            <img src="../../../../assets/img/logojava.png" alt="Imagem da logo marca da Linguagem de programação Java">
            <img src="../../../../assets/img/logospring.png" alt="Imagem da logo marca do framework Spring">
        </button>
    </div>
</div>