
<h2 class="title-cursos">Experiências de Cláudio Carigé</h2>
<a routerLink="../"> voltar </a>
<div class="container-body">
   

        <div class="container">
            <h3>Projeto com Java, Angula e Spring</h3>
            <button matTooltip="CLICK PARA VISUALIZAR" (click)="openDialog('1','1')">
                <img src="../../../../assets/img/logojava.png">
                <img src="../../../../assets/img/angular.png">
            </button>
        </div>
        <div class="container">
            <div class="title">
                <h3>Projeto com Java (JSP e JDBC)</h3>
            </div>
            <button matTooltip="CLICK PARA VISUALIZAR" (click)="openDialog('2', '1')">
                <img src="../../../../assets/img/logojava.png">
            </button>
        </div>
        <div class="container">
            <div class="title">
                <h3>Projeto com Python (Flask)</h3>
            </div>
            <button matTooltip="CLICK PARA VISUALIZAR" (click)="openDialog('3','1')">
                <img src="../../../../assets/img/logopython.png">
            </button>
        </div>
    </div>
