<h2 class="title-cursos">Experiências de Cláudio Carigé</h2>
<a routerLink="../"> voltar </a>
<div class="container-body">
    <div class="container">
        <h3>Projeto com Java, Spring e Angula</h3>
        <button matTooltip="CLICK PARA VISUALIZAR" (click)="openDialog('1','1')">
            <img src="../../../../assets/img/logojava.png" alt="Imagem da logo marca da Linguagem de programação Java">
            <img src="../../../../assets/img/angular.png" alt="Imagem da logo marca do framework Angular">
            <img src="../../../../assets/img/logospring.png" alt="Imagem da logo marca do framework Spring">
            <img src="../../../../assets/img/logoangularmaterial.png" alt="Imagem da logo marca do framework Angular Material">
        </button>
    </div>
    <div class="container">
        <div class="title">
            <h3>Projeto com Java (JSP e JDBC)</h3>
        </div>
        <button matTooltip="CLICK PARA VISUALIZAR" (click)="openDialog('2', '1')">
            <img src="../../../../assets/img/logojava.png" alt="Imagem da logo marca da Linguagem de programação Java">
            <img src="../../../../assets/img/logohtml.png" alt="Imagem da logo marca da Linguagem Html">
            <img src="../../../../assets/img/logobootstrap.png" alt="Imagem da logo marca do framework Boot strap">
            <img src="../../../../assets/img/logocss.png" alt="Imagem da logo marca da Linguagem Css">
            
        </button>
    </div>
    <div class="container">
        <div class="title">
            <h3>Projeto com Python (Flask)</h3>
        </div>
        <button matTooltip="CLICK PARA VISUALIZAR" (click)="openDialog('3','1')">
            <img src="../../../../assets/img/logopython.png" alt="Imagem da logo marca da Linguagem de programação Python">
            <img src="../../../../assets/img/logoflask.png" alt="Imagem da logo marca do framework Flask">
        </button>
    </div>
</div>