@use 'custom-theme' as *;
@use '@angular/material' as mat;
@include mat.core();


html, body { height: 100%; @include mat.all-component-themes($theme);}
body { min-width: 320px; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
